footer{
    margin: 0;
    padding: 0;
    background-color: #111111;
    height: 200px;

}

footer a{
    display: inline-flex;
    margin-top: 50px;
    margin-left: 20px;
    color: white;
}

footer img{
    height: 30px;
}
