section{
    margin-top: 10px;
}
section p{
    display: flex;
    margin-left: 40px;
    width: 432px;
}
section h2{
    display: flex;
    width: 154px;
}

#fotos button{
    margin-left: 4px;
}
#style-fotos{
    margin-left: 10px;
}